# Common settings for all boards

# Application version
CONFIG_APP_VERSION="V0.3"

# Ensure the system monitor is running for development
CONFIG_LV_USE_SYSMON=n
CONFIG_LV_USE_PERF_MONITOR=n

# Slow down the kernel panic reset
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=5

# UI refresh at 30fps, touch polling in separate task at 200Hz
CONFIG_LV_DEF_REFR_PERIOD=33
CONFIG_LV_INDEV_DEF_READ_PERIOD=10

# TinyUSB - Composite HID + CDC (Debug Console)
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_HID_COUNT=1

# Console on UART (safe default), we will redirect to CDC in app_main
CONFIG_ESP_CONSOLE_UART_DEFAULT=y

