# Common settings for all boards

# UI mode - default to hardware test for board bringup
#CONFIG_APP_UI_HWTEST=y

# Ensure the system monitor is running for development
CONFIG_LV_USE_SYSMON=y
CONFIG_LV_USE_PERF_MONITOR=y

# Slow down the kernel panic reset
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=5

# Lower this to allow LVGL to run faster, usually set to 33ms (30fps)
CONFIG_LV_DEF_REFR_PERIOD=15

# TinyUSB - Enable both CDC (serial console) and HID (trackpad/gamepad/macropad)
# Temporarily disabled for programming - re-enable after testing
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_CDC_COUNT=1
CONFIG_TINYUSB_HID_COUNT=1
